@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
:root{
    --font-family:'PT Sans Narrow', sans-serif;
    --background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    --grey:rgb(179, 178, 178);
    --black:#000;
    --black_transparent:rgba(0, 0, 0, 0.205);
    --lightyellow:lightyellow;
    --orange:rgb(219, 78, 22);
}