* {
    box-sizing: border-box;
    font-family: var(--font-family);
  }
  body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: var(--background-image);

  }
  input{
      border: none;
      background:transparent;
      outline: none;
  }
div#password_generator{
    padding: 2rem;
    margin: 0 auto;
    width: 500px;
    border: 3px solid var(--lightyellow);
    border-radius: 10px;
    box-shadow: 3px 3px 30px var(--black_transparent);
    position: relative;
    white-space: nowrap;
}
input#password-display{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin: 0 auto 1.2rem;
    width: 100%;
}
.range {
    justify-content: space-between;
    padding: 1rem 1rem 1rem 2.5rem;
}
#affichage-password-length{
   font-size: 1.5rem;
   position: relative;
   left: 20px;
}
.range input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    width: 40%; 
    max-width: 100%;
    height: 15px;
    padding: 0px;
    background: var(--lightyellow);
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: 0 2px 35px rgba(0,0,0,.4555);
    border-radius: 10px;
    cursor: pointer;
    scroll-behavior: smooth;
    z-index:1;
}    
.range input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none; 
        appearance: none;
        width: 15px;
        height: 15px; 
        background: var(--orange); 
        cursor: pointer; 
        border-radius: 18px;
        transition: .5s ease;
}
.range input[type="range"]::-webkit-slider-thumb:focus ,
.range input[type="range"]::-webkit-slider-thumb:active{
        padding: 16px;
        box-shadow:  0 0 10px rgba(0,0,0,.25);
      }
 
  #affichage-password-length {
    text-align: center;
    font-size: 1.4rem;
    width: 80px;
    padding-top: 10px;
  }

.flex {
  margin: 1rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.flex input{
    display: none;
  }

.flex input:checked + label {
    background: var(--lightyellow);
    filter: brightness(120%);
    transform: scale(1.1);
}


label {
    border: 2px solid var(--grey);
    border-radius: 4px;
    padding: .8rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    display: block;
    width: 80px;
    transition: 0.2s ease;
}

label:hover {
    filter: sepia(70%);
}

button {
    outline: none;
    background: var(--lightyellow);
    border: none;
    padding: 1rem 2rem;
    margin: .5rem 0;
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--black_transparent);
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: 0.2s ease;
    cursor: pointer;
 }
    button:hover {
      transform: translateX(4px);
      filter: brightness(120%);
}
 





/* SIGNATURE */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

.signature {
display: flex;
position: fixed;
bottom: 1rem;
right: 1rem;
background: rgba(51, 51, 51, 0.808);
padding: .5rem .5rem;
border-radius: 50px;
box-shadow: 0 0 0px 3px rgb(9,251,186);
color: rgb(9,251,186);
font-family: 'Open Sans', sans-serif;
font-size: .7rem;
cursor: pointer;
}
.signature:hover {
transform: translateX(3px);
background: linear-gradient(90deg, rgba(51, 51, 51, 0.808) 30%, rgba(100, 100, 100, 0.808) 100% );
transition: .3s ease;
box-shadow: 0 0 0px 3px rgb(79, 250, 204);
color: rgb(79, 250, 204);
}
.signature:focus {
outline: none;
}
.signature .flag {
height: 13px;
width: 22px;
background: linear-gradient(90deg, blue 36%, white 36%, white 67%, red 67%);
box-shadow: inset 2px 2px 2px #222, 2px 2px 1px #222;
margin-right: 6px;
transform: translateY(3px);
}
.signature h3 {
margin: 0;
}
.signature i {
font-size: 1.1rem;
text-shadow: 2px 2px 1px #222;
transform: translateY(2px);
}